.container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-1-row {
  grid-template-rows: 1fr;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.heading-primary {
  font-size: 5.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  letter-spacing: 1.5px;
  line-height: 1.1;
  font-weight: 500;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
