/*
1. ---- Typograpgy system ----
font size (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 
    44 / 52 / 62 / 74 / 86 / 98

Font weights 
default: 400
medium: 500
semibold:600
bold:700

Line height
defautl: 1
medium: 1.2
small:1.05
paragraph 1.6

letter spacing 
-0.5px
0.75px

2. ---- Colors ----

- Primary :
- Tint:
- Shades:
- Accent:
- Greys: 

3. ---- Shadows ----

4. ---- Border Radius ----
default: 9px

7. ---- Whitespace ----
Spacing(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 /48 / 64 / 
80 / 96 / 128

*/

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
}

/**************
Header Section
***************/

.header {
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
}

a:hover,
a:active {
  color: #5e5e5e;
}

li.main {
  font-size: 2.1rem;
  font-weight: 600;
}

.nav-social {
  display: flex;
  gap: 2.4rem;
}

.icons {
  font-size: 2.4rem;
}

/**************
Header Section
***************/

.hero-section {
  margin: 5.5rem 0;
}

.text-box {
  height: 60%;
  align-self: end;
  padding: 4.8rem;
  background-color: #d4e8ea;
}

.heading-primary {
  font-size: 5.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

a.btn {
  font-weight: 600;
  display: inline-block;
  padding: 1.8rem 2.6rem;
}

.btn:not(:last-child) {
  margin-right: 1.8rem;
}

.btn.filled {
  background-color: #5e5e5e;
  color: #fff;
}

.btn.outline {
  box-shadow: 0 0 0 2px #5e5e5e;
}

.grid {
  display: grid;
}

.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.img-box {
  /* height: 90%; */
}

.img {
  /* display: inline-block; */
  width: 100%;
}

/*
font size (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 
    / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

2 / 4 / 8 / 12 / 16 / 24 / 32 /48 / 64 / 
80 / 96 / 128 */
